@import "tailwindcss";
@import "@nuxt/ui";

html, body, #__nuxt { height: 100%; }
body { background: #0c0a10; }
::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-thumb { background: linear-gradient(180deg,#9b5cff,#2BF5A0); border-radius: 8px; }