@import "tailwindcss";
@import "@nuxt/ui";

html, body, #__nuxt { height: 100%; }
::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-thumb { background: linear-gradient(180deg,#9b5cff,#2BF5A0); border-radius: 8px; }

:root {
  --page-bg: #f8fafc;               /* light */
  --bg-grid-stroke: rgba(98, 0, 255, 0.15);
  --glow-purple: rgba(155, 92, 255, 0.30);
  --glow-green: rgba(43, 245, 160, 0.25);
  --conic-a: rgba(155, 92, 255, 0.25);
  --conic-b: rgba(43, 245, 160, 0.18);
}
.dark:root {
  --page-bg: #0c0a10;               /* dark */
  --bg-grid-stroke: rgba(155, 92, 255, 0.25);
  --glow-purple: rgba(155, 92, 255, 0.45);
  --glow-green: rgba(43, 245, 160, 0.35);
  --conic-a: rgba(155, 92, 255, 0.35);
  --conic-b: rgba(43, 245, 160, 0.20);
}


.no-view-transition { view-transition-name: none; }